<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block{
            width: 200px;
            height: 200px;
            background-color: beige;
            float: left;
            margin: 20px;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        .green {
            background-color: green;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-on:input="changeTitle">
    <a v-bind:href="baidu">Baidu</a>
    <a :href="baidu">Baidu</a>
    <p v-once>{{title}}</p>
    <p>{{sayHi()}}</p>

    <!-- by default, escapes html tags-->
    <p>{{ finishedLink }}</p>
    <p v-html="finishedLink"></p>

    <button v-on:click="increase(2, $event)">Increase 2</button>
    <button @click="counter++">Increase 1</button>
    <button v-on:click="counter--">Decrease 1</button>
    <button v-on:click="computedCounter++">Increase Computed</button>
    <p>counter: {{ counter }}</p>
    <p>computedCounter: {{ computedCounter }}</p>
    <p>expression result: {{ counter > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
    <p>method result()写在页面上的方法调用会被一直执行: {{ result() }}</p>
    <p>computed output: {{ output }}</p>

    <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }}
        <span v-on:mousemove.stop.prevent>DEAD SPOT</span>
        <span v-on:mousemove="dummy">Dummy</span>
    </p>

    v-on:keyup.space: <input type="text" v-on:keyup.space="consolespace"><br>
    v-on:keyup.enter<input type="text" v-on:keyup.enter="consoleenter"><br>
    v-on:keyup.esc<input type="text" v-on:keyup.esc="consoleesc"><br>

    <!--two way binding-->
    <input type="text" v-model="name">
    <p>{{ name }}</p>

    <hr>

    <p v-if="show">Appear <span>Hello</span></p>
    <p v-else>Disappear</p>
    <template v-if="show">
        <p>show</p>
        <p>show</p>
        <p>show</p>
        <p>show</p>
    </template>
    <p v-show="show">show/hide</p>
    <button @click="show = !show">v-if</button>

    <ul>
        <li v-for="ingredient in ingredients" :key="ingredient">{{ ingredient }}</li>
        <li v-for="(ingredient, index) in ingredients">{{ ingredient }}{{ index }}</li>
    </ul>
    <div>
        <template  v-for="(ingredient, index) in ingredients" >
            <h4>{{ ingredient }}</h4>
            <p>{{ index }}</p>
        </template>
    </div>
    <button @click="ingredients.push('spice')">add spice</button>
    <hr>
    <div>
        <div v-for="student in students">
            <div v-for="value in student">{{ value }}</div>
            <div v-for="(value, key, index) in student">{{ key }} : {{ value }} {{ index }}</div>
            <hr>
        </div>
    </div>
    <div v-for="n in 10">{{ n }}</div>

    <hr>
    <div class="block" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
    <div class="block" :class="toggleClass"></div>
    <div class="block" :class="{red: attachRed}"></div>
    <div class="block" :class="color"></div>
    <div class="block" :class="[color, {red: attachRed}]"></div>
    <div class="block" :style="{backgroundColor: color}"></div>
    <div class="block" :style="myStyle"></div>
    <div class="block" :style="[myStyle, {height: width + 'px'}]"></div>
    <input type="text" v-model="color">
    <input type="text" v-model="width">

</div>
</body>
</html>
<script src="./vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      title: 'hello world',
      baidu: 'https://www.baidu.com',
      finishedLink: '<a href="https://www.baidu.com">baidu</a>',
      counter: 0,
      computedCounter: 0,
      x: 0,
      y: 0,
      name: "Olivia",
      attachRed: false,
      color: 'green',
      width: 100,
      show: true,
      ingredients: ['fruits', 'water', 'cream'],
      students: [
        {
          name: 'Olivia',
          age: 19,
          gender: 'female'
        },
        {
          name: 'Steven',
          age: 20,
          gender: 'male'
        },
        {
          name: 'Joe',
          age: 19,
          gender: 'female'
        },

      ]
    },
    computed: {
      output: function () {
        console.log('computed');
        return this.computedCounter > 10 ? 'Greater than 10' : 'Smaller than 10'
      },
      toggleClass: function () {
        return {
          red: this.attachRed,
          blue: !this.attachRed
        }
      },
      myStyle: function () {
        return {
          backgroundColor: this.color,
          width: this.width + 'px'
        }
      }
    },
    watch: {
      counter: function (value) {
        var vm = this;
        setTimeout(function () {
          vm.counter = 0;
        }, 2000);
      }
    },
    methods: {
      changeTitle: function (event) {
        console.log('changeTitle');
        this.title = event.target.value
      },
      sayHi: function () {
        return this.title;
      },
      increase: function (step, event) {
        return this.counter += step;
      },
      updateCoordinates: function (event) {
        this.x = event.clientX;
        this.y = event.clientY;
      },
      dummy: function (event) {
        return event.stopPropagation();
      },
      consolespace: function () {
        console.log('space');
      },
      consoleenter: function () {
        console.log('enter');
      },
      consoleesc: function () {
        console.log('esc');
      },
      result:function () {
        console.log('method');
        return this.counter > 10 ? 'Greater than 10' : 'Smaller than 10'
      }

    }
  });
</script>